.contacts {
  @include vp-767 {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.contacts__info {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    padding: 23px 25px 13px;
    cursor: pointer;
  }
}

.contacts h3 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin: 0;
  }
}

.contacts ul {
  list-style: none;
  margin: 4px 0 0;
  width: 320px;
  padding: 0;

  @media (max-width: 1850px) {
    width: 260px;
  }

  @media (max-width: 1250px) {
    width: 215px;
  }

  @include vp-1023 {
    width: 320px;
    margin-top: 2px;
  }

  @include vp-767 {
    width: 100%;
    margin: 3px 0 20px;
    padding: 0 25px;
  }
}

.contacts li {
  margin-bottom: 6px;
}

.contacts p {
  margin: 0;
  font-family: $ff-mono;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: $color-default-white;
  opacity: 0.7;

  br {
    display: none;
  }

  @media (max-width: 1850px) {
    br {
      display: block;
    }
  }

  @include vp-1023 {
    br {
      display: none;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
  }
}

.contacts a {
  font-family: $ff-mono;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: $color-default-white;
  opacity: 0.7;
  user-select: none;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
  }

  @include vp-767 {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 18px;
    display: block;
    margin-bottom: -8px;
    width: 160px;
    padding-left: -2px;
  }
}
