.feedback {
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/back-feedback.svg");
  background-position: 0 77%;
  background-size: cover;
  min-height: 840px;

  @include vp-1023 {
    min-height: 580px;
    background-image: none;
  }

  @include vp-767 {
    min-height: 750px;
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  padding-top: 170px;
  padding-right: 10px;
  margin: 0 auto;

  @include vp-1023 {
    padding: 50px 0 0;
    grid-template-columns: 1fr;
    gap: 0;
  }

  @include vp-767 {
    display: block;
    padding-top: 46px;
  }
}

.feedback__wrapper img {
  max-width: 510px;
  width: 100%;
  //height: 285px;
  margin-top: 75px;
  background-color: transparent;

  @include vp-1023 {
    display: none;
  }
}

.feedback__info h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 27px;
    line-height: 42px;
    margin-bottom: 9px;
    letter-spacing: -0.02em;
  }
}

.feedback__info p {
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
  }
}

.feedback form {
  max-width: 580px;
  min-height: 305px;

  @include vp-1023 {
    width: 100%;
    max-width: 670px;
  }
}

.feedback__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.feedback input {
  max-width: 275px;
  width: 100%;
  padding: 13px 15px 15px 16px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  &:invalid {
    color: $color-torch-red;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border: none;
    color: $color-default-black;

    &::placeholder {
      color: $color-default-black;
    }
  }

  @include vp-1023 {
    max-width: 320px;
  }

  @include vp-767 {
    max-width: none;
  }
}

.feedback textarea {
  margin-top: 20px;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 100%;
  padding-top: 23px;
  padding-left: 17px;
  min-height: 155px;
  margin-bottom: 29px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border: none;

    &::placeholder {
      color: $color-default-black;
    }
  }

  @include vp-1023 {
    padding-top: 31px;
    padding-left: 15px;
  }

  @include vp-767 {
    min-height: 180px;
    margin-bottom: 23px;
    padding-top: 23px;
  }
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  color: $color-default-white;
}

.feedback__choice {
  display: flex;

  @include vp-1023 {
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.feedback button {
  display: block;
  width: 267px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-black-pearl;
  border-radius: 3px;
  border: none;
  color: $color-default-white;
  padding: 16px 25px 11px;
  margin: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-default-black;
    background-color: $color-default-white;
  }

  @include vp-1023 {
    padding-top: 17px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 14px;
  }
}

.feedback__checkbox {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  font-family: $ff-mono;
  padding-left: 77px;

  @include vp-1023 {
    padding-right: 60px;
  }

  @include vp-767 {
    padding-left: 30px;
  }
}

.feedback__checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  width: 234px;
  padding-top: 14px;

  @include vp-1023 {
    padding-top: 10px;
  }
}

.feedback__checkbox-input:hover + label,
.feedback__checkbox-input:focus + label {
  opacity: 0.7;
}

.feedback__checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 26px;
  left: 0;
  background-color: transparent;
  border: 1px solid $color-default-white;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.feedback__checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  left: -27px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;

  @include vp-1023 {
    top: 17px;
    left: -25px;
  }
}

.feedback__checkbox-input:checked:disabled::before {
  cursor: default;
}
