.footer {
  min-height: 280px;
  background-color: $color-black-pearl;
  width: 100%;

  @include vp-1023 {
    min-height: 465px;
  }

  @include vp-767 {
    min-height: 325px;
  }
}

.footer__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 350px;
  display: grid;
  grid-template-columns: 345px 1fr 347px;

  @media (max-width: 1919px) {
    padding: 0 18%;
  }

  @media (max-width: 1850px) {
    grid-template-columns: 215px 1fr 260px;
  }

  @media (max-width: 1250px) {
    grid-template-columns: 215px 1fr 215px;
    padding: 0 12%;
  }

  @include vp-1023 {
    padding: 0 48px 0 50px;
    display: flex;
    flex-wrap: wrap;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
    min-width: 320px;
  }
}

.footer__info {
  padding-top: 50px;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 35px 25px 0;
  }
}

.footer__logo {
  margin-bottom: 30px;
  width: 215px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    margin-bottom: 20px;
    margin-left: 25px;
  }
}

.footer__social {
  padding: 0 9px;
  margin-top: 27px;

  @include vp-1023 {
    padding: 0;
    text-align: end;
  }

  @include vp-767 {
    margin-left: 44px;
  }
}

.footer__nav {
  padding: 55px 30px;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    width: 100%;
    padding: 20px 25px;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__contacts {
  padding: 55px 0;

  @include vp-1023 {
    padding: 0;
    padding-left: 150px;
  }

  @include vp-767 {
    width: 100%;
    padding: 20px 25px;
    margin-bottom: 35px;
  }
}
