.modal {
  position: fixed;
  top: 0;
  right: 17px;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-black-pearl-2, 0.7);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    top: 146px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 610px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    padding: 40px;
    padding-top: 38px;
    padding-bottom: 42px;

    background-color: $color-deep-sky-blue;
    border-radius: 3px;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-deep-sky-blue;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }

  @include vp-767 {
    display: none;
  }
}

.modal h3 {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.08em;
  color: $color-default-white;
  margin: 0;
}

.modal p {
  color: $color-default-white;
  font-size: 16px;
  line-height: 25px;
  font-family: $ff-mono;
  margin: 0;
  margin-bottom: 33px;
}

.modal input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  &:invalid {
    color: $color-torch-red;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border: none;

    &::placeholder {
      color: $color-default-black;
    }
  }
}

.modal textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 100%;
  padding-top: 22px;
  padding-left: 15px;
  min-height: 155px;
  margin-bottom: 17px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border: none;

    &::placeholder {
      color: $color-default-black;
    }
  }
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: $color-default-white;
}

.modal__button {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: $color-black-pearl-2;
  border-radius: 3px;
  border: none;
  color: $color-default-white;
  padding: 15px 25px 12px;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-default-black;
    background-color: $color-default-white;
  }
}

.modal__checkbox {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  font-family: $ff-mono;
}

.modal__checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 34px;
}

.modal__checkbox-input:hover + label,
.modal__checkbox-input:focus + label {
  opacity: 0.7;
}

.modal__checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid $color-default-white;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.modal__checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -3px;
  left: 9px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__checkbox-input:checked:disabled::before {
  cursor: default;
}
