.modal {
  position: fixed;
  top: 146px;
  left: 49.6%;
  transform: translateX(-50%);
  width: 500px;
  min-height: 610px;
  margin: 0 auto;
  padding: 37px 40px 38px 40px;
  z-index: 1000;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  overflow: auto;

  &--active {
    display: flex;
  }

  &--closed {
    display: none;
  }
}

.modal h3 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 3px;
}

.modal p {
  color: $color-default-white;
  font-size: 16px;
  line-height: 23px;
  font-family: $ff-mono;
  margin: 0;
  margin-bottom: 35px;
}

.modal input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  &:invalid {
    color: $color-torch-red;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border: none;

    &::placeholder {
      color: $color-default-black;
    }
  }
}

.modal textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 100%;
  padding-top: 22px;
  padding-left: 15px;
  min-height: 155px;
  margin-bottom: 17px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border: none;

    &::placeholder {
      color: $color-default-black;
    }
  }
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: $color-default-white;
}

.modal__choice {
  display: grid;
}

.modal__button {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: $color-black-pearl-2;
  border-radius: 3px;
  border: none;
  color: $color-default-white;
  padding: 15px 25px 12px;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-default-black;
    background-color: $color-default-white;
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  width: 40px;
  height: 40px;
  padding: 0;

  background: $color-deep-sky-blue;
  border: none;
  cursor: pointer;
}

.modal__checkbox {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  font-family: $ff-mono;
  order: 2;
}

.modal__checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 34px;
}

.modal__checkbox-input:hover + label,
.modal__checkbox-input:focus + label {
  opacity: 0.7;
}

.modal__checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid $color-default-white;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.modal__checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -3px;
  left: 9px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__checkbox-input:checked:disabled::before {
  cursor: default;
}
