.nav__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h3 {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-default-white;
}

.nav__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 23px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 21px;
  }
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-bottom: 5px;
}

.nav a {
  font-family: $ff-mono;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.1em;
  color: $color-default-white;
  opacity: 0.7;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
