.promo {
  position: relative;
  min-height: 880px;
  background-color: $color-prussian-blue;
  background-image: url("../img/back-promo-desktop.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  margin-bottom: 120px;

  //@media (min-resolution: $retina-dppx) {
  //  background-image: url("../img/back-promo-desktop@2x.jpg");
  //}

  @include vp-1023 {
    margin-bottom: 80px;
    min-height: 640px;
    background-image: url("../img/back-promo-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/back-promo-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    margin-bottom: 50px;
    min-height: 560px;
    background-image: url("../img/back-promo-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/back-promo-mobile@2x.jpg");
    }
  }
}

.promo h2 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $color-tory-blue;
  margin: 0 0 32px 120px;
  padding-top: 305px;

  @include vp-1023 {
    padding-top: 180px;
    margin: 0 0 2px;
    font-size: 63px;
    line-height: 75px;
  }

  @include vp-767 {
    padding-top: 150px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.promo p {
  margin: 0 0 45px 125px;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $color-tory-blue;

  @include vp-1023 {
    margin: 0 0 55px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 44px;

    br {
      display: none;
    }
  }
}

.promo__link {
  padding: 18px 10px;
  color: $color-tory-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 410px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  margin-left: 125px;
  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1023 {
    margin-left: 45px;
    padding: 17px 10px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    padding: 12px 19px;
    letter-spacing: -0.02em;
  }
}

.promo__link--desktop {
  display: block;

  @include vp-767 {
    display: none;
  }
}

.promo__link--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
