.services {
  background-color: $color-black-pearl;
  padding-top: 66px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 56px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 86px;
  }
}

.services__title {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 54px;

  @include vp-1023 {
    font-size: 36px;
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0;
    margin-bottom: 28px;
  }
}

.services__title-desktop {
  @include vp-767 {
    display: none;
  }
}

.services__title-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  list-style: none;

  @media (max-width: 1800px) {
    gap: 4%;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.services li {
  position: relative;
  width: 100%;
  max-width: 350px;
  max-height: 650px;
  margin: 0 auto;
  padding: 47px 40px;
  padding-bottom: 172%;
  cursor: pointer;

  @include vp-1023 {
    min-height: 250px;
    max-height: none;
    padding: 37px 45px;
    padding-bottom: 31%;
    min-width: 670px;
    max-width: none;
  }

  @include vp-767 {
    padding: 26px 30px;
    min-width: 270px;
    height: 250px;
  }
}

.services a {
  max-width: 350px;
  width: 100%;

  &:hover,
  &:focus {
    opacity: 0.7;
    h4 {
      color: $color-deep-sky-blue;
    }
  }

  @include vp-1023 {
    min-width: 670px;
    max-width: none;
  }

  @include vp-767 {
    min-width: 270px;
  }
}

.services img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.services h4 {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
  position: absolute;
  width: 160px;

  @include vp-1023 {
    width: 148px;
  }

  @include vp-767 {
    font-size: 17px;
    line-height: 30px;
  }
}

.services__link {
  position: absolute;
  border-radius: 3px 0 0;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/tick.svg");
  background-size: 7px 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  right: 0;
  bottom: 0;

  @include vp-1023 {
    width: 59px;
    height: 60px;
    background-position: 27px;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
    background-size: 7px 7px;
    background-position: 18px;
  }
}
