.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    min-width: 140px;
    margin: 0;
  }
}

.social li {
  width: 40px;
  height: 40px;
  margin: 7px;
  user-select: none;

  @include vp-1023 {
    margin: 5px 0 10px 15px;
  }
}

.social__link {
  height: 40px;
  width: 40px;
}

.social__link:hover path {
  fill: rgba(248, 253, 255, 0.7);
}
