.toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
